/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$gol_x = 0px;
$gol_y = 170px;
$gol_offset_x = 0px;
$gol_offset_y = -170px;
$gol_width = 430px;
$gol_height = 752px;
$gol_total_width = 430px;
$gol_total_height = 922px;
$gol_image = 'sprite.png';
$gol = 0px 170px 0px -170px 430px 752px 430px 922px 'sprite.png';
$gols_x = 0px;
$gols_y = 0px;
$gols_offset_x = 0px;
$gols_offset_y = 0px;
$gols_width = 1px;
$gols_height = 170px;
$gols_total_width = 430px;
$gols_total_height = 922px;
$gols_image = 'sprite.png';
$gols = 0px 0px 0px 0px 1px 170px 430px 922px 'sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
